<ion-modal-view>
  <ion-header-bar class="bar-light item-bar-right">
    <h1 class="title">Adicionar amigo</h1>
    <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-outline"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <textarea maxlength="140" placeholder="Seja simpatico!" ng-model='modal.msg'></textarea>
      </label>
      <div class="item">
        <button class="right button button-block button-calm" ng-click="sendFriendRequest(modal.uid)"><strong>enviar pedido</strong></button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>