<ion-modal-view>
  <ion-header-bar class="bar-light bar-item-right">
    <h1 class="title">adicionar esporte</h1>
    <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-outline"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-message item-assertive item-light item-icon-left"  ng-if="modal.error">
        <i class="icon ion-alert-circled"></i>Você deve selecionar um esporte
      </div>
      <label class="item item-select">
        <div class="input-label">
          Esporte
        </div>
        <select ng-model="modal.name" required>
          <option ng-repeat="option in modal.options" value="{{option.key}}">{{option.value}}</option>
        </select>
      </label>
      <label class="item item-input">
        <textarea placeholder="Fale sobre sua experiência nesse esporte" ng-model='modal.about'></textarea>
        <input type="hidden" ng-model="modal.nicename">
      </label>
      <div class="item">
        <button class="right button button-block button-calm fright" ng-click="addSport()"><strong>Adicionar</strong></button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>