<ion-modal-view>
  <ion-header-bar class="bar-light">
    <h1 class="title">Friend Request</h1>
    <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-outline"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-stable">
        <span>{{modal.status}}</span>
      </label>
      <div class="item">
        <button class="col col-40 right button button-balanced" ng-click="acceptConnection(modal.uid, modal.index)">accept</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>