/* Empty. Add your own CSS if you like */

ion-content{
  background: #EEE;
}

.sideMenu i{
  font-size: 20px;
}

.avatar{
  background-color: #EEE;
}
.avatar .img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  clear: both;
  border-radius: 50%;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center center;
}
.profile h2{
  width: 100%;
}
.profile input{
  font-size: 16px;
}

.profile .item-divider{
  line-height: 32px;
}

.item.item-toggle{
  padding: 8px 16px;
}

select option{
  font-size: 30px;
}