/* Empty. Add your own CSS if you like */

ion-content{
  background: #EEE;
}

.sideMenu i{
  font-size: 20px;
}

.profile .avatar{
  background-color: #EEE;
}
.profile .img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  clear: both;
  border-radius: 50%;
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
.profile h2{
  width: 100%;
}
.profile .icon{
  margin-right: 15px;
}

.profile input{
  font-size: 16px;
}

.item.item-toggle{
  padding: 8px 16px;
}

.searchItem .img{
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center center;
  margin-right: 10px;
}

.searchItem .dados{
  float: left;
  margin-top: 6px
}

select option{
  font-size: 30px;
}