<ion-view view-title="{{userProfile.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-right" ng-controller="LoginCtrl" ng-click="logout()">
      <span class="assertive">sair <i class="icon ion-android-exit"></i></span>
    </button>
  </ion-nav-buttons>
  <ion-content class="profile">
    <div class="list">
      <div class="item item-message item-assertive item-light item-icon-left" ng-if="sports.length == 0">
        <p><i class="icon ion-alert-circled"></i> Você precisa adicionar um esporte <br> para localizar pessoas</p>
      </div>
      <div class="item item-dark item-button-right avatar">
        <div class="img" back-img="{{userProfile.avatar}}" /></div>
        <div class="data">
          <div class="name">{{userProfile.name}}</div>
          <div class="reputation">{{userReputation}}</div>
        </div>
        <div class="buttons">
          <a ng-click="openModal()" href="#">
            <i class="icon ion-ios-plus-outline"></i>
            <p>adicionar esporte</p>
          </a>
        </div>
      </div>
      <div class="item item-divider">
        Dados perfil
      </div>
      <label class="item item-input">
        <span class="input-label">Idade</span>
        <input type="number" ng-model="userProfile.age">
      </label>
      <label class="item item-input">
        <span class="input-label">Localização</span>
        <input type="text" ng-model="userProfile.location" placeholder="Cidade, Estado">
      </label>
      <div class="item item-divider item-button-right" ng-if="sports.length > 0">
        Esportes
        <button class="button button-clear button-dark" ng-click="listConfig.shouldShowDelete = !listConfig.shouldShowDelete">
          {{listConfig.shouldShowDelete ? 'pronto' : 'apagar'}}
        </button>
      </div>
      <ion-list show-delete="listConfig.shouldShowDelete" show-reorder="false" can-swipe="false">
        <ion-item collection-repeat="sport in sports" ng-href="#/app/profile/sport/{{sport.$id}}/{{sport.name}}" class="item-icon-right item-icon-left">
          <i class="icon flaticon-{{sport.key}}"></i>
          <h2>{{sport.name}}</h2>
          <p>{{sport.about}}</p>
          <i class="icon ion-ios-arrow-right"></i>
          <ion-delete-button class="ion-minus-circled" ng-click="deleteSport($index)"></ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>