<ion-view view-title="Profile">
  <ion-content class="profile">
    <div class="list">
      <div class="item avatar">
        <div class="img" style="background-image:url({{userProfile.avatar}})" /></div>
      </div>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <h2>{{userProfile.name}}</h2>
        <span></span><i class="icon ion-locked"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">Nick</span>
        <input type="text" ng-model="userProfile.nickname" placeholder="How users see you">
      </label>
      <label class="item item-input">
        <span class="input-label">Location</span>
        <input type="tel" ng-model="userProfile.location" placeholder="City, neighborhood">
      </label>
    </div>
  </ion-content>
</ion-view>