<ion-view view-title="Requests">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-right" ng-click="reloadRoute()">
      <i class="icon ion-ios-refresh-empty"></i>
    </button>
  </ion-nav-buttons>
  <ion-content  class="requests">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reloadRoute()">
    </ion-refresher>
    <div class="list">
      <div class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Filter" ng-model='filterKey'>
      </div>
      <div class="item item-divider item-button-right" ng-if="pendings.length > 0">
        <span class="help"><i class="icon ion-ios-information"> swipe left to see the options</i></span>
        <button class="button button-clear" ng-click="listConfig.shouldShowDelete = !listConfig.shouldShowDelete">
          {{listConfig.shouldShowDelete ? 'done' : 'remove'}}
        </button>
      </div>
    </div>
    <ion-list show-delete="listConfig.shouldShowDelete" show-reorder="false" can-swipe="true">
      <ion-item class="item item-avatar item-icon-right" collection-repeat="request in pendings | filter:filterKey"  ng-href="#/app/user/{{request.uid}}/{{request.name}}">
        <img ng-src="{{request.avatar}}">
        <h3>{{request.name}}</h3>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-positive" ng-click="openModal(request.status, request.uid, $index)" ng-if="request.status" >
            See request
          </ion-option-button>
          <ion-option-button class="button-balanced" ng-click="acceptConnection(request.uid, $index)" ng-if="request.status" >
            Accept
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="deleteConnection(request.uid, uid, $index, pendings, 'pending')"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>