<ion-view view-title="Settings">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Range <span>{{settings.range}} km</span>
      </div>
      <div class="item range range-positive">
        <p></p>
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" ng-model="settings.range" min="0" max="100" value="{{settings.range}}">
        <i class="icon ion-ios-sunny"></i>
      </div>
      <div class="item item-toggle">
        Public profile?
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="settings.public_profile">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>