<ion-content>
  <div class="login">
    <div class="list">
      <img src="img/login.png" alt="">
    </div>
    <div class="list list-inset" ng-controller="LoginCtrl">
      <label class="item item-input">
        <input type="text" placeholder="E-mail" data-ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" data-ng-model="password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Repita a senha" data-ng-model="repeatpassword">
      </label>
      <div class="list error-msg" ng-show="error">{{error}}</div>
      <div class="list msg" ng-show="msg">{{msg}}</div>
      <button class="button button-block button-calm" ng-click="createUser()">
        Cadastrar
      </button>
    </div>

    <div class="list">
      <a href="#/login">Voltar para o login</a></div>
    </div>

  </div>
</ion-content>