<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-right" ng-click="$ionicGoBack()">
      <span class="energized">salvar</span>
    </button>
  </ion-nav-buttons>
  <ion-content class="sport">
    <div class="list">
      <div class="item item-divider">
        Minha experiencia nesse esporte
      </div>
      <div class="item item-input">
        <textarea placeholder="Fale sobre sua experiência nesse esporte" ng-model='sport.about'></textarea>
      </div>
    </div>
  </ion-content>
</ion-view>