<ion-view view-title="{{userUid}}">
  <ion-content class="profile">
    <div class="list">
      <div class="item avatar">
        <img ng-src="{{userProfile.avatar}}" />
      </div>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <h2>{{userProfile.name}}</h2>
      </label>
      <label class="item item-input">
        <span class="input-label">Nick</span>
        <h2>{{userProfile.name}}</h2>
      </label>
      <label class="item item-input">
        <span class="input-label">Location</span>
        <h2>{{userProfile.name}}</h2>
      </label>
    </div>
  </ion-content>
</ion-view>