<ion-view view-title="{{userName}}">
  <ion-content class="profile">
    <div class="list">
      <div class="item item-energized item-button-right avatar">
        <div class="img" back-img="{{userProfile.avatar}}" /></div>
        <div class="buttons">
          <a ng-click="openModal(userProfile.uid)" href="#">
            <i class="icon ion-ios-plus-outline"></i>
            <p>adicionar</p>
          </a>
        </div>
      </div>
      <div class="item item-divider item-button-right">
        Perfil
      </div>
      <div class="item item-input">
        <span class="input-label">Nome</span>
        <h2>{{userProfile.name}}</h2>
      </div>
      <div class="item item-input" ng-if="userProfile.nickname">
        <span class="input-label">Apelido</span>
        <h2>{{userProfile.nickname}}</h2>
      </div>
      <div class="item item-input" ng-if="userProfile.location">
        <span class="input-label">Localização</span>
        <h2>{{userProfile.location}}</h2>
      </div>
      <div class="item item-input" ng-if="userProfile.age">
        <span class="input-label">Idade</span>
        <h2>{{userProfile.age}}</h2>
      </div>
      <div class="item item-divider item-button-right">
        Esportes
      </div>
      <ion-list>
        <ion-item ng-repeat="sport in userProfile.sports" class="item-icon-left">
          <i class="icon flaticon-{{sport.key}}"></i>
          <h2>{{sport.name}}</h2>
          <p>{{sport.about}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>